*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.kt-fixed {
  position: fixed
}

.kt-bottom-5 {
  bottom: 1.25rem
}

.kt-right-5 {
  right: 1.25rem
}

.kt-z-50 {
  z-index: 50
}

.kt-mb-2 {
  margin-bottom: 0.5rem
}

.kt-mr-2 {
  margin-right: 0.5rem
}

.kt-mt-2 {
  margin-top: 0.5rem
}

.kt-mb-4 {
  margin-bottom: 1rem
}

.kt-inline {
  display: inline
}

.kt-flex {
  display: flex
}

.kt-grid {
  display: grid
}

.kt-h-\[460px\] {
  height: 460px
}

.kt-h-3 {
  height: 0.75rem
}

.kt-h-full {
  height: 100%
}

.kt-h-4 {
  height: 1rem
}

.kt-h-24 {
  height: 6rem
}

.kt-max-h-\[400px\] {
  max-height: 400px
}

.kt-max-h-\[290px\] {
  max-height: 290px
}

.kt-w-\[400px\] {
  width: 400px
}

.kt-w-full {
  width: 100%
}

.kt-w-3 {
  width: 0.75rem
}

.kt-w-4 {
  width: 1rem
}

.kt-w-5\/6 {
  width: 83.333333%
}

.kt-w-24 {
  width: 6rem
}

.kt-max-w-\[400px\] {
  max-width: 400px
}

@-webkit-keyframes kt-spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}

@keyframes kt-spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
  }
}

.kt-animate-spin {
  -webkit-animation: kt-spin 1s linear infinite;
          animation: kt-spin 1s linear infinite
}

.kt-cursor-pointer {
  cursor: pointer
}

.kt-grid-flow-col {
  grid-auto-flow: column
}

.kt-flex-col {
  flex-direction: column
}

.kt-items-center {
  align-items: center
}

.kt-justify-end {
  justify-content: flex-end
}

.kt-justify-center {
  justify-content: center
}

.kt-gap-2 {
  gap: 0.5rem
}

.kt-gap-0 {
  gap: 0px
}

.kt-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.kt-overflow-x-auto {
  overflow-x: auto
}

.kt-overflow-y-auto {
  overflow-y: auto
}

.kt-whitespace-nowrap {
  white-space: nowrap
}

.kt-rounded-md {
  border-radius: 0.375rem
}

.kt-rounded-xl {
  border-radius: 0.75rem
}

.kt-rounded-lg {
  border-radius: 0.5rem
}

.kt-rounded-2xl {
  border-radius: 1rem
}

.kt-rounded-full {
  border-radius: 9999px
}

.kt-border-2 {
  border-width: 2px
}

.kt-border-b-2 {
  border-bottom-width: 2px
}

.kt-border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.kt-border-slate-100 {
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity))
}

.kt-border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.kt-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.kt-bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.kt-bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity))
}

.kt-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.kt-bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.kt-fill-blue-500 {
  fill: #3b82f6
}

.kt-p-2 {
  padding: 0.5rem
}

.kt-p-12 {
  padding: 3rem
}

.kt-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.kt-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.kt-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.kt-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.kt-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.kt-pl-2 {
  padding-left: 0.5rem
}

.kt-pt-2 {
  padding-top: 0.5rem
}

.kt-text-left {
  text-align: left
}

.kt-text-center {
  text-align: center
}

.kt-align-baseline {
  vertical-align: baseline
}

.kt-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.kt-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.kt-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.kt-font-semibold {
  font-weight: 600
}

.kt-font-medium {
  font-weight: 500
}

.kt-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.kt-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.kt-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.kt-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.kt-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.kt-text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity))
}

.kt-text-green-600 {
  --tw-text-opacity: 1;
  color: rgb(22 163 74 / var(--tw-text-opacity))
}

.kt-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.kt-text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity))
}

.kt-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.kt-drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:kt-rounded:hover {
  border-radius: 0.25rem
}

.hover\:kt-bg-slate-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.hover\:kt-bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.hover\:kt-text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.hover\:kt-text-gray-600:hover {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

@media (prefers-color-scheme: dark) {
  .dark\:kt-text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity))
  }

  .dark\:kt-text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity))
  }

  .dark\:kt-text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity))
  }
}