/* postcss-partial-process start */
@tailwind base;


/* postcss-partial-process end */
@tailwind components;
@tailwind utilities;

#kaitaku-feedback-ui {
    position: fixed;
    right: 1.25rem;
    bottom: 1.25rem;
    width: 400px;
    height: 512px;
    z-index: 50;
}